[submodule "libft"]
	path = libft
	url = https://github.com/vwade/42-libft.git
[submodule "gnl"]
	path = gnl
	url = https://github.com/vwade/42-getnextline.git
[submodule "fillit"]
	path = fillit
	url = https://github.com/vwade/42-fillit.git
[submodule "printf"]
	path = printf
	url = https://github.com/vwade/42-ftprintf.git
[submodule "fdf"]
	path = fdf
	url = https://github.com/vwade/42-fdf.git
[submodule "ls"]
	path = ls
	url = https://github.com/vwade/42-ls.git
[submodule "init"]
	path = init
	url = https://github.com/vwade/42-init.git
[submodule "fractol"]
	path = fractol
	url = https://github.com/vwade/42-fractol.git
